<!-- Header -->
<header id="header">
    <div class="inner">

        <!-- Logo -->
            <a href="/" class="logo">
                <span class="fa fa-book"></span> <span class="title">Book Online Store Website</span>
            </a>
        <!-- Nav -->
            <nav>
                <ul>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart
                            {{#if session.cart.totalItems }}
                            <span>({{session.cart.totalItems}})</span>
                            {{/if}}
                        </a>
                        {{#if session.cart.totalItems }}
                        <div class="dropdown-menu">
                            <div class="cart">
                                {{#each session.cart.items }}
                                <div class="row">
                                    <div class="col-xs-6">
                                        {{ this.item.name }}
                                    </div>
                                    <div class="col-xs-3 text-right">
                                        <span class="badge">{{ this.quantity }}</span>
                                    </div>
                                    <div class="col-xs-3 text-right">
                                        ${{ this.price }}
                                    </div>
                                </div>
                                {{/each}}
                                <div class="row">
                                    <div class="text-right">
                                        <div class="totalPrice">Total: ${{ session.cart.totalPrice }}</div>
                                        <a href="/cart" class="btn-success"><button>Go to cart</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{else}}
                        <div class="dropdown-menu">
                            <div class="cart">
                                <div>
                                    Cart is empty right now.
                                </div>
                                <div class="row">
                                    <div class="text-right">
                                        <a href="/cart" class="btn-success"><button >Go to cart</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/if}}
                    </li>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

    </div>
</header>

<!-- Menu -->
<nav id="menu">
    <h2>Menu</h2>
    {{#if user}}
<ul>
        <li><a href="/" class="{{#if active_home}}active{{/if}}">Home</a></li>
        <li><a href="/user/{{_id}}"class="{{#if active_profile}}active{{/if}}">{{user.name}}'s Profile</a></li>
        <li><a href="/products" class="{{#if active_products}}active{{/if}}">Products</a></li>
        <li><a href="/logout"></a>Log Out</li>
</ul>
    {{else}}
<ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/" class="{{#if active_home}}active{{/if}}">Home</a></li>
        <li><a href="/products" class="{{#if active_products}}active{{/if}}">Products</a></li>
</ul>
    {{/if}}
</nav>