<!-- Main -->
<div id="main">
    <div class="inner">
        <h1>{{product.name}}<span class="pull-right"> {{product.price}}</span></h1>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5">
                    <img src="{{product.image}}" class="img-fluid" alt="">
                </div>

                <div class="col-md-7">
                    <p>{{product.author}}</p>

                    <p>{{product.categories}}</p>

                    <div class="row">
                        <div class="col-sm-4">
                            <label class="control-label">Extra 1</label>

                            <div class="form-group">
                                <select>
                                    <option value="0">Extra 1</option>
                                    <option value="1">Extra 2</option>
                                    <option value="2">Extra 3</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-8">
                            <label class="control-label">Quantity</label>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="name" id="name">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <input type="submit" class="primary" value="Add to Cart">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
    </div>
</div>