<!-- Main -->
<div id="main">
    <div class="inner">
        {{#with product_detail}}
        <h1>{{name}}<span class="pull-right"> ${{price}}</span></h1>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5">
                    <img src="{{image}}" class="img-fluid" alt="">
                </div>

                <div class="col-md-7">
                    <p>Author: {{author}}</p>
                    <p>Price: ${{price}}</p>
                    <p>Category: {{categories}}</p>

                    <div class="row">
                        {{!-- <div class="col-sm-4">
                            <label class="control-label">Extra 1</label>

                            <div class="form-group">
                                <select>
                                    <option value="0">Extra 1</option>
                                    <option value="1">Extra 2</option>
                                    <option value="2">Extra 3</option>
                                </select>
                            </div>
                        </div> --}}

                        <div class="col-sm-8">
                            <form method="GET" action="/products/{{_id}}/add">
                            <label class="control-label">Quantity</label>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="quantity" id="quantity">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <input type="submit" class="primary" value="Add to Cart">
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {{/with}}
        </div>
        <br>
        <br>
        {{!-- similiar products --}}
        <div class="container-fluid">
            <h2 class="h2">Similar Products</h2>

            <!-- Products -->
            <section class="tiles">
                {{#each similar_products}}
                <article class="style1">
                    <span class="image">
                        <img src="{{image}}" alt="" />
                    </span>
                    <a href="/products/{{_id}}">
                        <h2>{{name}}</h2>
                        
                        <p><strong>${{price}}</strong></p>

                        <p>{{author}} </p>
                    </a>
                </article>
                {{/each}}
            </section>
        </div>
    </div>
</div>